<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listeners.ListenerTest">
		</listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<!--      <class name="apiTestCases.ReqresRegisterAPI"/>
      <class name="apiTestCases.DemoGuru99"/>
      <class name="apiTestCases.ReqresUsersAPI"/>-->
			<class name="apiTestCases.RL3PLApi" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
